body { 
  background: url(https://source.unsplash.com/xq6tKtQYNJI) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding: 20px;
  font: 18px/1 Roboto, Arial, sans-serif;
  background-color: #556270;
  color: #ffffff;      
}
h1 {
  font-size: 60px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
}
h2 {
  font-size: 34px;
  color: gold;
  margin-top: 10px;
}

a { 
  color: gold; 
  text-decoration: none;
  border: 2px solid gold;
  padding: 10px 20px;
  background-color: transparent;
}
a:hover { 
  background-color: gold;
  color: white;
}